/8bit_expl_long_00.wav
/8bit_expl_long_01.wav
/8bit_expl_long_02.wav
/8bit_expl_long_03.wav
/8bit_expl_long_04.wav
/8bit_expl_long_05.wav
/8bit_expl_long_06.wav
/8bit_expl_long_07.wav
/8bit_expl_long_08.wav
/8bit_expl_long_09.wav
/8bit_expl_long_10.wav
/8bit_expl_long_11.wav
/8bit_expl_long_12.wav
/8bit_expl_long_13.wav
/8bit_expl_long_14.wav
/8bit_expl_long_15.wav
/8bit_expl_long_16.wav
/8bit_expl_long_17.wav
/8bit_expl_long_18.wav
/8bit_expl_long_19.wav
/8bit_expl_long_20.wav
/8bit_expl_long_21.wav
/8bit_expl_long_22.wav
/8bit_expl_long_23.wav
/8bit_expl_long_24.wav
/8bit_expl_long_25.wav
/8bit_expl_long_26.wav
/8bit_expl_long_27.wav
/8bit_expl_long_28.wav
/8bit_expl_long_29.wav
