/standing aim overdraw.fbx
/standing aim recoil.fbx
/standing disarm bow.fbx
/standing dodge backward.fbx
/standing dodge forward.fbx
/standing dodge left.fbx
/standing dodge right.fbx
/standing draw arrow.fbx
/standing equip bow.fbx
/standing melee kick.fbx
/standing melee punch.fbx
