/sword and shield idle (2).fbx
/sword and shield idle (3).fbx
/sword and shield idle (4).fbx
/sword and shield idle.fbx
/sword and shield impact Critical Damaged.fbx
/sword and shield impact Damaged.fbx
/sword and shield jump (2).fbx
/sword and shield jump.fbx
/sword and shield run back.fbx
/sword and shield run front.fbx
/sword and shield strafe (2).fbx
/sword and shield strafe (3).fbx
/sword and shield strafe (4).fbx
/sword and shield strafe.fbx
/sword and shield turn Right.fbx
/sword and shield turn left.fbx
/sword and shield walk Back.fbx
/sword and shield walk Front.fbx
