/draw a great sword In.fbx
/draw a great sword Out.fbx
/great sword impact Critical Damaged.fbx
/great sword impact Damaged.fbx
/great sword impact.fbx
/two handed sword death (2).fbx
/two handed sword death.fbx
