/Autocannon - Shot 1.wav
/Bullet Impact 14.wav
/Bullet Impact 21.wav
/Bullet Impacts - Multiple 1.wav
/Cannon impact 9.wav
/Explosion 1.wav
/Explosion 2.wav
/Explosion 8.wav
/Flare gun 5-2.wav
/Hand Gun 1.wav
/Hand Gun 2.wav
/Hand Gun 3.wav
/Hand Gun_6.wav
/Heavy Object Impact 10.wav
/Heavy Object Impact 4.wav
/Indiana Jones Punch.wav
/Laser Gun Salve.wav
/Laser Impact Light_6.wav
/Machine Gun 1.wav
/Metal Impact 7.wav
/Metal impact 5.wav
/Missile - Shot 4.wav
/Railgun - Shot 6.wav
