/SFX_FastUiChangeOption01.wav
/SFX_FastUiChangeOption02.wav
/SFX_FastUiChangeOption03.wav
/SFX_FastUiChangeOption04.wav
/SFX_FastUiChangeOption05.wav
/SFX_FastUiChangeOption06.wav
/SFX_FastUiCheckBox01.wav
/SFX_FastUiCheckBox02.wav
/SFX_FastUiCheckBox03.wav
/SFX_FastUiCheckBox04.wav
/SFX_FastUiCheckBox05.wav
/SFX_FastUiCheckBox06.wav
/SFX_FastUiCheckBox07.wav
/SFX_FastUiCheckBox08.wav
/SFX_FastUiCheckBox09.wav
/SFX_FastUiCheckBox10.wav
/SFX_FastUiCheckBox11.wav
/SFX_FastUiCheckBox12.wav
/SFX_FastUiCheckBox13.wav
/SFX_FastUiCheckBox14.wav
/SFX_FastUiCheckBox15.wav
/SFX_FastUiClick01.wav
/SFX_FastUiClick02.wav
/SFX_FastUiClick03.wav
/SFX_FastUiClick04.wav
/SFX_FastUiClick05.wav
/SFX_FastUiClick06.wav
/SFX_FastUiClick07.wav
/SFX_FastUiClick09.wav
/SFX_FastUiClick10.wav
/SFX_FastUiClick11.wav
/SFX_FastUiClick12.wav
/SFX_FastUiClick13.wav
/SFX_FastUiClick14.wav
/SFX_FastUiClick15.wav
/SFX_FastUiClick16.wav
/SFX_FastUiClick17.wav
/SFX_FastUiClick18.wav
/SFX_FastUiClick19.wav
/SFX_FastUiClickDigitalHarsh01.wav
/SFX_FastUiClickDigitalHarsh02.wav
/SFX_FastUiClickDigitalHarsh03.wav
/SFX_FastUiClickDoubleClick01.wav
/SFX_FastUiClickDoubleClick02.wav
/SFX_FastUiClickDoubleClick03.wav
/SFX_FastUiClickDoubleClick04.wav
/SFX_FastUiClickDoubleClick05.wav
/SFX_FastUiClickImpact01.wav
/SFX_FastUiClickImpact02.wav
/SFX_FastUiClickImpact03.wav
/SFX_FastUiClickImpact04.wav
/SFX_FastUiClickImpact05.wav
/SFX_FastUiClickImpact06.wav
/SFX_FastUiClickImpact07.wav
/SFX_FastUiClickImpact08.wav
/SFX_FastUiClickImpact09.wav
/SFX_FastUiClickImpact10.wav
/SFX_FastUiClickMechanical01.wav
/SFX_FastUiClickMechanical02.wav
/SFX_FastUiClickMechanical03.wav
/SFX_FastUiClickMechanical04.wav
/SFX_FastUiClickMechanical05.wav
/SFX_FastUiClickMetal01.wav
/SFX_FastUiClickMetal02.wav
/SFX_FastUiClickMetal03.wav
/SFX_FastUiClickMetal04.wav
/SFX_FastUiClickMetal05.wav
/SFX_FastUiClickMultipleImpacts01.wav
/SFX_FastUiClickMultipleImpacts02.wav
/SFX_FastUiClickMultipleImpacts03.wav
/SFX_FastUiClickSingleImpact01.wav
/SFX_FastUiClickTonal01.wav
/SFX_FastUiClickTonal02.wav
/SFX_FastUiClickTonal03.wav
/SFX_FastUiClickTonal04.wav
/SFX_FastUiClickTonal05.wav
/SFX_FastUiClickTonal06.wav
/SFX_FastUiClickTonal07.wav
/SFX_FastUiClickTonal08.wav
/SFX_FastUiClickTonal09.wav
/SFX_FastUiClickWood01.wav
/SFX_FastUiClickWood02.wav
/SFX_FastUiClickWood03.wav
/SFX_FastUiClickWood04.wav
/SFX_FastUiClickWood05.wav
/SFX_FastUiClickWood06.wav
/SFX_FastUiClickWood07.wav
/SFX_FastUiClickWood08.wav
/SFX_FastUiClickWood09.wav
/SFX_FastUiClickWood10.wav
/SFX_FastUiDenied01.wav
/SFX_FastUiDenied02.wav
/SFX_FastUiDenied03.wav
/SFX_FastUiDenied04.wav
/SFX_FastUiDenied05.wav
/SFX_FastUiDenied06.wav
/SFX_FastUiDenied07.wav
/SFX_FastUiSoundMusical01.wav
/SFX_FastUiSoundMusical02.wav
/SFX_FastUiSoundMusical03.wav
/SFX_FastUiSoundMusical04.wav
