/Arrow Swish (1).wav
/Arrow Swish (2).wav
/Arrow Swish (3).wav
/Arrow Swish (4).wav
/Arrow Swish (5).wav
/Arrow Swish (6).wav
/Arrow Swish (7).wav
/Arrow Whoosh (1).wav
/Arrow Whoosh (2).wav
/Arrow Whoosh (3).wav
/Arrow Whoosh (4).wav
/Arrow Whoosh (5).wav
/Arrow Whoosh (6).wav
/Arrows Equip or Inventory Action (1).wav
/Arrows Equip or Inventory Action (2).wav
/Arrows Equip or Inventory Action (3).wav
/Arrows Equip or Inventory Action (4).wav
/Arrows Equip or Inventory Action (5).wav
/Arrows Equip or Inventory Action (6).wav
/Arrows Equip or Inventory Action (7).wav
/Bow Equip 1.wav
/Bow Equip 2.wav
/Bow Equip 3.wav
/Bow Inventory Action 1.wav
/Bow Inventory Action 2.wav
/Crossbow Buckle Element (1).wav
/Crossbow Buckle Element (2).wav
/Crossbow Buckle Element (3).wav
/Crossbow Buckle Element (4).wav
/Crossbow Buckle Element (5).wav
/Crossbow Equip (1).wav
/Crossbow Equip (2).wav
/Crossbow Equip (3).wav
/Crossbow Equip (4).wav
/Crossbow Equip (5).wav
/Crossbow Inventory Action 1.wav
/Crossbow Inventory Action 2.wav
/Crossbow Locking Element (1).wav
/Crossbow Locking Element (2).wav
/Crossbow Locking Element (3).wav
/Crossbow Metal Element (1).wav
/Crossbow Metal Element (2).wav
/Crossbow Metal and Wood Element (1).wav
/Crossbow Metal and Wood Element (2).wav
/Crossbow Unspecified Element (1).wav
/Crossbow Unspecified Element (2).wav
/Crossbow Unspecified Element (3).wav
/Crossbow Unspecified Element (4).wav
/Crossbow Unspecified Element (5).wav
/Crossbow Wood Metal 1.wav
/Crossbow Wood Metal 10.wav
/Crossbow Wood Metal 2.wav
/Crossbow Wood Metal 3.wav
/Crossbow Wood Metal 4.wav
/Crossbow Wood Metal 5.wav
/Crossbow Wood Metal 6.wav
/Crossbow Wood Metal 7.wav
/Crossbow Wood Metal 8.wav
/Crossbow Wood Metal 9.wav
/Crossbow Wooden Element (1).wav
/Crossbow Wooden Element (2).wav
/Crossbow Wooden Element (3).wav
/Crossbow Wooden Element (4).wav
/Crossbow Wooden Element (5).wav
/DES - Bow Pull and Release 1.wav
/DES - Bow Pull and Release 2.wav
/DES - Bow Pull and Release 3.wav
/DES - Bow Shoot 1.wav
/DES - Bow Shoot 2.wav
/DES - Bow Shoot 3.wav
/DES - Bow Shoot 4.wav
/DES - Bow Shoot 5.wav
/DES - Craft or Repair Sequence 1.wav
/DES - Craft or Repair Sequence 2.wav
/DES - Craft or Repair Sequence 3.wav
/DES - Crossbow Equip 1.wav
/DES - Crossbow Equip 2.wav
/DES - Crossbow Reload 1.wav
/DES - Crossbow Reload 2.wav
/DES - Crossbow Reload 3.wav
/DES - Crossbow Reload 4.wav
/DES - Crossbow Shoot 1.wav
/DES - Crossbow Shoot 2.wav
/DES - Crossbow Shoot 3.wav
/DES - Crossbow Shoot 4.wav
/DES - Explosive Arrow 2.wav
/DES - Fire Arrow Ignite 1.wav
/DES - Fire Arrow Ignite 2.wav
/DES - Fire Arrow Shoot 1.wav
/DES - Fire Arrow Shoot 2.wav
/Loot Whoosh 1.wav
/Loot Whoosh 2.wav
/Loot Whoosh 3.wav
/String Pull (1).wav
/String Pull (2).wav
/String Pull (3).wav
/String Pull (4).wav
/String Pull (5).wav
/String Pull (6).wav
/String Pull (7).wav
/String Release (1).wav
/String Release (2).wav
/String Release (3).wav
/String Release (4).wav
/String Release (5).wav
/String Release (6).wav
/Target Impact - Armor Layer (1).wav
/Target Impact - Armor Layer (2).wav
/Target Impact - Armor Layer (3).wav
/Target Impact - Blood and Gore Layer (1).wav
/Target Impact - Blood and Gore Layer (2).wav
/Target Impact - Blood and Gore Layer (3).wav
/Target Impact - Blood and Gore Layer (4).wav
/Target Impact - Blood and Gore Layer (5).wav
/Target Impact - Blood and Gore Layer (6).wav
/Target Impact - Default (1).wav
/Target Impact - Default (2).wav
/Target Impact - Default (3).wav
/Target Impact - Default (4).wav
/Target Impact - Wood Layer (1).wav
/Target Impact - Wood Layer (2).wav
/Target Impact - Wood Layer (3).wav
