/Arrows (1).wav
/Arrows (2).wav
/Arrows (3).wav
/Axe (1).wav
/Axe (10).wav
/Axe (2).wav
/Axe (3).wav
/Axe (4).wav
/Axe (5).wav
/Axe (6).wav
/Axe (7).wav
/Axe (8).wav
/Axe (9).wav
/Bow (1).wav
/Bow (2).wav
/Bow (3).wav
/Bow (4).wav
/Club (1).wav
/Club (2).wav
/Club (3).wav
/Club (4).wav
/Craft or Repair (1).wav
/Craft or Repair (2).wav
/Craft or Repair (3).wav
/Craft or Repair (4).wav
/Craft or Repair (5).wav
/Craft or Repair (6).wav
/Craft or Repair (7).wav
/Crossbow (1).wav
/Crossbow (2).wav
/Crossbow (3).wav
/Crossbow (4).wav
/Crossbow (5).wav
/Crossbow (6).wav
/Dismantle (1).wav
/Dismantle (2).wav
/Dismantle (3).wav
/Dismantle (4).wav
/Dismantle (5).wav
/Dismantle (6).wav
/Dismantle (7).wav
/Dismantle (8).wav
/Flail (Chain Ball) 1.wav
/Flail (Chain Ball) 2.wav
/Hammer or Mace (1).wav
/Hammer or Mace (10).wav
/Hammer or Mace (2).wav
/Hammer or Mace (3).wav
/Hammer or Mace (4).wav
/Hammer or Mace (5).wav
/Hammer or Mace (6).wav
/Hammer or Mace (7).wav
/Hammer or Mace (8).wav
/Hammer or Mace (9).wav
/Knife or Dagger (1).wav
/Knife or Dagger (10).wav
/Knife or Dagger (2).wav
/Knife or Dagger (3).wav
/Knife or Dagger (4).wav
/Knife or Dagger (5).wav
/Knife or Dagger (6).wav
/Knife or Dagger (7).wav
/Knife or Dagger (8).wav
/Knife or Dagger (9).wav
/Magical Enhance or Upgrade (1).wav
/Magical Enhance or Upgrade (10).wav
/Magical Enhance or Upgrade (11).wav
/Magical Enhance or Upgrade (12).wav
/Magical Enhance or Upgrade (13).wav
/Magical Enhance or Upgrade (14).wav
/Magical Enhance or Upgrade (15).wav
/Magical Enhance or Upgrade (16).wav
/Magical Enhance or Upgrade (17).wav
/Magical Enhance or Upgrade (2).wav
/Magical Enhance or Upgrade (3).wav
/Magical Enhance or Upgrade (4).wav
/Magical Enhance or Upgrade (5).wav
/Magical Enhance or Upgrade (6).wav
/Magical Enhance or Upgrade (7).wav
/Magical Enhance or Upgrade (8).wav
/Magical Enhance or Upgrade (9).wav
/Spear or Polearm (1).wav
/Spear or Polearm (10).wav
/Spear or Polearm (2).wav
/Spear or Polearm (3).wav
/Spear or Polearm (4).wav
/Spear or Polearm (5).wav
/Spear or Polearm (6).wav
/Spear or Polearm (7).wav
/Spear or Polearm (8).wav
/Spear or Polearm (9).wav
/Staff or Scepter (1).wav
/Staff or Scepter (10).wav
/Staff or Scepter (2).wav
/Staff or Scepter (3).wav
/Staff or Scepter (4).wav
/Staff or Scepter (5).wav
/Staff or Scepter (6).wav
/Staff or Scepter (7).wav
/Staff or Scepter (8).wav
/Staff or Scepter (9).wav
/Sword (1).wav
/Sword (10).wav
/Sword (11).wav
/Sword (12).wav
/Sword (13).wav
/Sword (14).wav
/Sword (15).wav
/Sword (16).wav
/Sword (17).wav
/Sword (18).wav
/Sword (19).wav
/Sword (2).wav
/Sword (20).wav
/Sword (3).wav
/Sword (4).wav
/Sword (5).wav
/Sword (6).wav
/Sword (7).wav
/Sword (8).wav
/Sword (9).wav
