/great sword crouching (2).fbx
/great sword crouching (3).fbx
/great sword crouching (4).fbx
/great sword crouching (5).fbx
/great sword crouching (6).fbx
/great sword crouching.fbx
/great sword impact (4).fbx
/great sword impact (5).fbx
/great sword slash (5).fbx
