/sheath sword In.fbx
/sheath sword out.fbx
/sword and shield 180 turn in run.fbx
/sword and shield 180 turn in walk.fbx
/sword and shield Shield Attack.fbx
/sword and shield block (2).fbx
/sword and shield block idle.fbx
/sword and shield block.fbx
/sword and shield death (2).fbx
/sword and shield death.fbx
