/T_Armor_AO.tga
/T_Armor_Base_color_1.tga
/T_Armor_Base_color_2.tga
/T_Armor_Base_color_3.tga
/T_Armor_Base_color_4.tga
/T_Armor_MetallicSmoothness.tga
/T_Armor_MetallicSmoothness_2.tga
/T_Armor_Normal.tga
