/Action_A_4_1.anim
/Action_A_5_1.anim
/Action_A_5_2.anim
/Dialogue_1.anim
/Dialogue_2.anim
/Dialogue_3.anim
/Dialogue_4.anim
/Dialogue_5.anim
/Enemy_Attack_1.anim
/Enemy_Attack_1_InPlace.anim
/Enemy_Attack_1_Run.anim
/Enemy_Attack_1_Run_InPlace.anim
/Hit_F_1.anim
/Hit_F_1_InPlace.anim
/Hit_F_2.anim
/Hit_F_2_InPlace.anim
/Ladder_Down_End.anim
/Ladder_Down_End_InPlace.anim
/Ladder_Down_Play.anim
/Ladder_Down_Play_InPlace.anim
/Ladder_Down_Start.anim
/Ladder_Down_Start_InPlace.anim
/Ladder_Idle.anim
/Ladder_Up_End.anim
/Ladder_Up_End_InPlace.anim
/Ladder_Up_Play.anim
/Ladder_Up_Play_InPlace.anim
/Ladder_Up_Start.anim
/Ladder_Up_Start_InPlace.anim
/OneHand_Up_Attack_1.anim
/OneHand_Up_Attack_1_InPlace.anim
/OneHand_Up_Attack_2.anim
/OneHand_Up_Attack_2_InPlace.anim
/OneHand_Up_Attack_3.anim
/OneHand_Up_Attack_3_InPlace.anim
/OneHand_Up_Attack_B_1.anim
/OneHand_Up_Attack_B_1_InPlace.anim
/OneHand_Up_Attack_B_2.anim
/OneHand_Up_Attack_B_2_InPlace.anim
/OneHand_Up_Attack_B_3.anim
/OneHand_Up_Attack_B_3_InPlace.anim
/OneHand_Up_Idle.anim
/OneHand_Up_Jump_B.anim
/OneHand_Up_Jump_B_InPlace.anim
/OneHand_Up_Run_B.anim
/OneHand_Up_Run_B_InPlace.anim
/OneHand_Up_Run_F.anim
/OneHand_Up_Run_F_InPlace.anim
/OneHand_Up_Run_L.anim
/OneHand_Up_Run_L_InPlace.anim
/OneHand_Up_Run_R.anim
/OneHand_Up_Run_R_InPlace.anim
/OneHand_Up_Shield_Block_Hit_1.anim
/OneHand_Up_Shield_Block_Hit_1_InPlace.anim
/OneHand_Up_Shield_Block_Idle.anim
/OneHand_Up_Sprint.anim
/OneHand_Up_Sprint_InPlace.anim
/OneHand_Up_Walk_B.anim
/OneHand_Up_Walk_B_InPlace.anim
/OneHand_Up_Walk_F.anim
/OneHand_Up_Walk_F_InPlace.anim
/OneHand_Up_Walk_L.anim
/OneHand_Up_Walk_L_InPlace.anim
/OneHand_Up_Walk_R.anim
/OneHand_Up_Walk_R_InPlace.anim
