/AMP_Buff_01.wav
/AMP_Buff_04.wav
/AMP_Buff_08.wav
/AMP_Cast_General_01.wav
/AMP_Cast_General_04.wav
/AMP_DeBuff_02.wav
/AMP_DeBuff_06.wav
/AMP_DeBuff_09.wav
/AMP_Earth_Cast_02.wav
/AMP_Earth_Impact_01.wav
/AMP_Fire_Impact_01.wav
/AMP_Ice_Cast_06.wav
/AMP_Ice_Impact_01.wav
/AMP_Lightning_Cast_05.wav
/AMP_Lightning_Impact_06.wav
/AMP_Water_Cast_06.wav
/AMP_Water_Impact_02.wav
/AMP_Wind_Cast_02.wav
/AMP_Wind_Impact_01.wav
/Dark_magic_03.wav
