/sword and shield Crounch slash.fbx
/sword and shield crouch block (2).fbx
/sword and shield crouch block idle.fbx
/sword and shield crouch block.fbx
/sword and shield crouch idle.fbx
/sword and shield crouch.fbx
/sword and shield crouching (2).fbx
/sword and shield crouching (3).fbx
/sword and shield crouching.fbx
