/fall a land to run forward.fbx
/fall a land to standing idle 01.fbx
/fall a loop.fbx
/standing block.fbx
/standing death backward 01.fbx
/standing death forward 01.fbx
/standing dive forward.fbx
/standing react small from front Critical Damaged.fbx
/standing react small from front Damaged.fbx
