/Lightmap-0_comp_light.exr
/Lightmap-1_comp_light.exr
/Lightmap-2_comp_light.exr
/ReflectionProbe-0.exr
/ReflectionProbe-1.exr
/ReflectionProbe-10.exr
/ReflectionProbe-2.exr
/ReflectionProbe-3.exr
/ReflectionProbe-4.exr
/ReflectionProbe-5.exr
/ReflectionProbe-6.exr
/ReflectionProbe-7.exr
/ReflectionProbe-8.exr
/ReflectionProbe-9.exr
