/standing aim walk back.fbx
/standing aim walk forward.fbx
/standing aim walk left.fbx
/standing aim walk right.fbx
/standing idle 01.fbx
/standing idle 02 looking.fbx
/standing idle 03 examine.fbx
/standing run back.fbx
/standing run forward stop.fbx
/standing run forward.fbx
/standing run left.fbx
/standing run right.fbx
/standing turn 90 left.fbx
/standing turn 90 right.fbx
/standing walk back.fbx
/standing walk forward.fbx
/standing walk left.fbx
/standing walk right.fbx
/unarmed idle 01.fbx
