/sword and shield attack (2).fbx
/sword and shield attack (3).fbx
/sword and shield attack head Stun.fbx
/sword and shield attack.fbx
/sword and shield casting (2).fbx
/sword and shield casting.fbx
/sword and shield kick.fbx
/sword and shield power up.fbx
/sword and shield slash (3).fbx
/sword and shield slash (4).fbx
/sword and shield slash Attack Combo 3.fbx
/sword and shield slash.fbx
