/Zombie Death.fbx
/walking (2).fbx
/walking.fbx
/zombie idle (2).fbx
/zombie idle (3).fbx
/zombie idle (4).fbx
/zombie idle.fbx
/zombie running.fbx
/zombie scratch idle.fbx
/zombie stand up (2).fbx
/zombie stand up (3).fbx
/zombie stand up.fbx
/zombie transition (2).fbx
/zombie transition.fbx
/zombie turn.fbx
