/Standing Idle 03.fbx
/Standing Idle 04.fbx
/Standing Idle To Crouch.fbx
/Standing Jump Running Landing.fbx
/Standing Jump Running.fbx
/Standing Jump.fbx
/Standing Land To Standing Idle.fbx
/Standing Run Back.fbx
/Standing Run Forward.fbx
/Standing Run Left.fbx
/Standing Run Right.fbx
/Standing Sprint Forward.fbx
/Standing Turn Left 90.fbx
/Standing Turn Right 90.fbx
/Standing Walk Back.fbx
/Standing Walk Forward.fbx
/Standing Walk Left.fbx
/Standing Walk Right.fbx
/standing idle 02.fbx
/standing idle.fbx
