/DoorClose.anim
/DoorOpen.anim
/Great Sword Slash.fbx
/Jump Down.anim
/Jump Up.anim
/Rifle Run.anim
/firing rifle.fbx
/reloading.fbx
/rifle aiming idle.fbx
/rifle run.fbx
/strafe (2).fbx
/strafe.fbx
/walking.fbx
