/Crouch.fbx
/Die Backwards.fbx
/Idles.fbx
/Mid Air 2.fbx
/Mid Air 3.fbx
/Mid Air.fbx
/Run Turn Sharp.fbx
/Run Turn.fbx
/Run.fbx
/Soccer Kick.fbx
/Stand Turn.fbx
/Strafing.fbx
/Walk 2.fbx
/Walk Backwards.fbx
/Walk Turn Sharp.fbx
/Walk Turn.fbx
