/great sword attack.fbx
/great sword casting.fbx
/great sword high spin attack.fbx
/great sword jump attack.fbx
/great sword kick (2).fbx
/great sword kick.fbx
/great sword power up.fbx
/great sword slash (3).fbx
/great sword slash (4).fbx
/great sword slash Combo 3.fbx
/great sword slash.fbx
/great sword slide attack.fbx
/spell cast.fbx
