/great sword 180 turn (2).fbx
/great sword 180 turn.fbx
/great sword idle (2).fbx
/great sword idle (3).fbx
/great sword idle (4).fbx
/great sword idle (5).fbx
/great sword idle.fbx
/great sword jump (2).fbx
/great sword jump.fbx
/great sword run back.fbx
/great sword run front.fbx
/great sword strafe (2).fbx
/great sword strafe (3).fbx
/great sword strafe (4).fbx
/great sword strafe.fbx
/great sword turn left.fbx
/great sword turn right.fbx
/great sword walk back.fbx
/great sword walk front.fbx
